<div id="id01" class="modal">
  
    <form class="modal-content animate" action="/action_page.php" method="post">
  
      <div class="container">

        <label for="uname"><b>Email</b></label>
        <input type="text" placeholder="Email" name="uname" required>

       
        <textarea type="text" placeholder="Type a message" name="uname" required></textarea>

       

       

          
        <button type="submit">Send Message</button>
        <button type="submit">Cancel</button>
       
      </div>
  
    </form>
  </div>




