<div id="id01" class="modal">
  
    <div class="modal-content animate" action="/action_page.php" method="post">
  
      <div class="container">

        <label for="uname"><b>Email</b></label>
        <input type="text" [(ngModel)]="contact.email" placeholder="Email"  required>

       
        <textarea type="text" placeholder="Type a message" required></textarea>

       

       

          
        <button (click)="sendMessage();" >Send Message</button>
        <button (click)="goBack()">Cancel</button>
       
      </div>
  
    </div>
  </div>




