<div id="id01" class="modal">
  
    <form class="modal-content animate" action="/action_page.php" method="post">
  
      <div class="container">

        <label for="uname"><b>Name</b></label>
        <input type="text" placeholder="Name" name="uname" required>

        <label for="uname"><b>Last Name</b></label>
        <input type="text" placeholder="Last Name" name="uname" required>

        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="UserName" name="uname" required>

        <label for="uname"><b>Email</b></label>
        <input type="text" placeholder="Email" name="uname" required>
  
        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Password" name="psw" required>

       
        <button type="submit">Send Message</button>

          
        <button type="submit">Save</button>

        
        <button type="submit">Cancel</button>
       
      </div>
  
    </form>
  </div>




