<div id="id01" class="modal">
  
    <div class="modal-content animate">
  
      <div class="container">

        <label ><b>Name</b></label>
        <input type="text" [(ngModel)]="contact.name"  placeholder="Name" required>

        <label ><b>Last Name</b></label>
        <input type="text" [(ngModel)]="contact.lastName" placeholder="Last Name"  required>

        <label ><b>Email</b></label>
        <input type="text" [(ngModel)]="contact.email" placeholder="Email"  required>

        <label ><b>PhoneNumber</b></label>
        <input type="text" [(ngModel)]="contact.telNumber" placeholder="UserName"  required>

        
  
       
        <button type="button" (click)="sendMessage();">Send Message</button>

          
        <button (click)="updateContact();" >Save</button>

        
        <button (click)="goBack();">Cancel</button>
       
      </div>
  
    </div>
  </div>




